<!-- void component -->
<app-void *ngIf="void"></app-void>
<!-- warranty-pocedure component -->
<app-wrrty-procedure *ngIf="actions.show && actions.action==='nextPhase'"></app-wrrty-procedure>
<!-- historical component -->
<app-ticket-historical *ngIf="actions.show && actions.action==='historical'"></app-ticket-historical>

<div class="container m-2" *ngIf="tickets.length>0">
    <div> 
      <div class="row justify-content-between mt-2">
        <!-- table controls-->
        <nav  class="col-sm-3 col" aria-label="Page navigation example col">
          <ul class="pagination justify-content-start">
            <li class="page-item me-4">
                <button class="btn btn-outline-primary" (click)="page=page-5" [disabled]="(page-5)<0">&laquo;</button>
            </li>
            <li class="page-item">
              <button 
                class="btn btn-outline-primary" 
                (click)="page=page+5" 
                [disabled]="(tickets.length-(page+5))<=0"
                >&raquo;</button>
            </li>
          </ul>
        </nav>
        <form class="col-sm-3 col d-flex mb-5 " role="search">
          <input 
            class="form-control me-2 " 
            type="search" 
            placeholder="Search" 
            aria-label="Search"
            name="filterTable"
            [(ngModel)]="filterTable"
            (ngModelChange)="page=0"
        >
        </form>
    </div>
    <!-- finished table -->
    <div class="d-flex resTable">
      <table class="table table-bordered border-danger" >
        <thead class="table-danger">
          <tr>
            <th scope="col">Ticket</th>
            <th scope="col">Módulo</th>
            <th scope="col">Documentos</th>
            <th scope="col">Fecha de petición</th>
            <th scope="col">Fecha Inicio Atención</th>
            <th scope="col">Fecha de Finalización</th>
            <th scope="col">Finalizado a Tiempo</th>
            <th scope="col">Calidad en Reprocesos</th>
            <th scope="col">Aprobar</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tickets | ticketFilter:filterTable:page:table" >
            <td>{{item.ticket}}</td>
            <td class="text-center">
              <button class="btn p-0 m-0" (click)="openHistorical(item.ticket)">
                  <img src="../../../../assets/img/folder.png" alt="Archivos" height="25px">
              </button>
            </td>
            <td>Documentos</td>
            <td>{{item.startRequestDate}}</td>
            <td>{{item.startAttentionDate}}</td>
            <td>{{item.realEndDate}}</td>
            <td>{{item.endDateCompliance}}</td>
            <td>{{item.quality}}</td>
            <td class="text-center">
              <button class="btn m-0" *ngIf="item.status==='finished'" (click)="approved(item.ticket)">
                <img src="../../../../../assets/img/upload.png" alt="upload btn" height="20px">
              </button>
            </td>
            <td>{{item.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>