.tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
    margin-top: 3%;
  }
  
  .tab {
    background-color: #f1f1f1;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .tab.active {
    background-color: #ccc;
    font-weight: bold;
  }
  