<div class="container-fluid" >
    <form (ngSubmit)="handlesubmit(Form.value)"  id="Form" #Form="ngForm" >
        <div class="form-floating mb-3">
            <input 
                type="string"
                class="form-control" 
                id="email" 
                name="email" 
                placeholder="Module1" 
                required
                [(ngModel)]="email"
                [ngClass]="{'is-invalid': email === ''}" 
                >
            <label for="floatingInputDisabled">Usuario</label>
            <div  class="invalid-feedback" >
                Ingrese el nombre del modulo
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="exampleSelect2" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Roles</font></font></label>
            <select 
                type="string"
                id="name" 
                name="name" 
                class="form-select" 
                [ngClass]="{'is-invalid': name === ''}"
                required 
                [(ngModel)]="rol"
                (click)=roles()              
                >
                <option *ngFor="let Rol of roleList" [ngValue]="Rol.name" [selected]="Rol.name === name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ Rol.name }}</font></font></option>
            </select>
        </div>
        <div class="form-floating mb-3">
            <input 
                type="password"
                class="form-control" 
                id="password" 
                name="password" 
                placeholder="Module1" 
                required
                [(ngModel)]="password"
                [ngClass]="{'is-invalid': password === ''}" 
                >
            <label for="floatingInputDisabled">Contraseña</label>
            <div  class="invalid-feedback" >
                Ingrese el nombre del modulo
            </div>
        </div>
        <div class="d-grid mt-5" style=" justify-content: end; ">
            <button class="btn" style="background-color: #00E676; border: none; " type="submit">Aceptar</button>
        </div>
    </form>
</div>
