<app-layout>
    <div class="container " style="margin: 2%;" >
         <div class="card">
             <div class="card-header" style="display: flex;">
                 <h1>HOJA DE VIDA VEHICULOS Y ARCHIVOS</h1>
             </div>
             <div class="card-body" style="padding: 4%;">
                 <div>
                     <!-- documents component -->
                      <app-table-documents></app-table-documents>
                 </div>
             </div>
         </div>
     </div>
</app-layout>