<div class="alert position-fixed" tabindex="-1" *ngIf="form">
    <div class="min-alert position-absolute">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h1 id="ModalToggleLabel2">Editar seguridad activa/pasiva</h1>
          <button class="btn-close" (click)="closeForm()"></button>
        </div>
          <div class="card-body">
              <!-- formulario -->
               <app-form-add-security [selectedSecurity]="selectedSecurity"></app-form-add-security>
          </div>
      </div>
    </div>
  </div> <button
  (click)="openForm()"
  type="button"
  class="btn btn-warning me-1 p-0 ps-1 pe-1"
>
  <img class="" src="../../../../assets/img/pencil-square.svg">
</button>
