<footer class="p5 bg-body-tertiary container-fluid p-5 pb-1"
    style="background-color: #e2edf3; border: none"
>
    <!-- footer content -->
    <div class="row">
        <div class="column col-xs-12 col-md-6 col-lg-3 py-2">
            <img src="../../../../assets/img/logo.png" height="50">
        </div>
        <div class="column col-xs-12 col-md-6 col-lg-3 py-2">
            <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fyunextraffic" target="_blank" class="text-decoration-none">Twitter</a>
        </div>
        <div class="column col-xs-12 col-md-6 col-lg-3 py-2">
            <a href="https://www.youtube.com/channel/UC_UXAb4F5shnoRsho4lQOPQ" target="_blank" class="text-decoration-none">YouTube</a>
        </div>
        <div class="column col-xs-12 col-md-6 col-lg-3 py-2">
            <a href="https://www.linkedin.com/company/yunextraffic/about/" target="_blank" class="text-decoration-none">Linkedin</a>
        </div>
    </div>
    <div class="row py-2">
        <p class="text-center">Copyright - All rights reserved © 2023</p>
    </div>

</footer>