<div class="col graficos-container" [ngClass]="{'d-none': assembly}">
  <p class="titulo-graficos">Gráficos Estadísticos</p>

  <div class="graficos-panel">
    <!-- Estado de las Incidencias -->
    <div class="grafico-box">
      <h2 class="grafico-titulo">Estado de las Incidencias</h2>
      <div class="grafico-canvas">
        <canvas id="status">{{statusIn}}</canvas>
      </div>
    </div>

    <!-- Tiempo de reparación -->
    <div class="grafico-box">
      <h2 class="grafico-titulo">Tiempo de Reparación</h2>
      <div class="grafico-canvas">
        <canvas id="expTime">{{expTimeIn}}</canvas>
      </div>
    </div>
            
    <!-- Fecha de Salida -->
    <div class="grafico-box">
      <h2 class="grafico-titulo">Fecha de Salida</h2>
      <div class="grafico-canvas">
        <canvas id="outDate">{{outDateIn}}</canvas>
      </div>
    </div>

    <!-- Entra por Garantía -->
    <div class="grafico-box">
      <h2 class="grafico-titulo">Entra por Garantía</h2>
      <div class="grafico-canvas">
        <canvas id="warranty">{{warrIn}}</canvas>
      </div>
    </div>
  </div>
</div>


