<app-layout>
  <div class="container" style="background: #E2EDF3; margin: 5%; padding: 2%; box-sizing: content-box; border-radius: 3%">
    <a routerLink="../login">
      <button class="btn" style="background-color: #00E676; border: none">
        <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
      </button>
    </a>
    <div class="row">
      <div class="col-sm-4">
        <app-form-register></app-form-register>
        
      </div>

      <div class="col-sm-8">
        <div style="padding: 5%">
          <img src="../../../../assets/img/yunex8.jpg" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>
</app-layout>
