.filtros-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  
}

.filtros-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  
}

.select-general {
  min-width: 180px;
  border-radius: 2px;
  padding: 10px;
  border: 2px solid #000000;
  color: #007bff;
  background-color: #f8f9fa;
}

.select-filtro {
  border-radius: 25px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  color: #007bff;
}

.titulo-seccion {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}

.titulo-tabla {
  font-weight: 600;
  color: #088828b4;
  margin: 10px 0;
}

.tarjeta-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  background-color: #e9ecef;
  border-radius: 1rem;
  padding: 20px;
  margin-bottom: 30px;
}

.tarjeta_1 {
  flex: 1 1 150px;
  min-width: 150px;
  background: rgba(0, 153, 255, 0.253);
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  text-align: center;
}
.tarjeta_2 {
  flex: 1 1 150px;
  min-width: 150px;
  background: rgba(238, 255, 0, 0.253);
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  text-align: center;
}
.tarjeta_3 {
  flex: 1 1 150px;
  min-width: 150px;
  background: rgba(9, 255, 0, 0.253);
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  text-align: center;
}
.tarjeta_4 {
  flex: 1 1 150px;
  min-width: 150px;
  background: rgba(255, 0, 0, 0.253);
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  text-align: center;
}
.tarjeta_5 {
  flex: 1 1 150px;
  min-width: 150px;
  background: rgba(25, 0, 255, 0.253);
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  text-align: center;
}


.tarjeta h5 {
  font-weight: 600;
  color: #000000;
}

.tarjeta p {
  font-weight: bold;
  color: #28a745;
}

.tiempo-header {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.tiempo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  background-color: #e9ecef;
  border-radius: 1rem;
  padding: 20px;
  margin-bottom: 30px;
}

.tiempo-box {
  background: #fff;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}


.tiempo-box_cumplio_1{
    flex: 1 1 150px;
  min-width: 150px;
  background: rgba(9, 255, 0, 0.253);
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  text-align: center;
}


.tiempo-box_cumplio_3{
    flex: 1 1 150px;
  min-width: 150px;
  background: rgba(9, 255, 0, 0.253);
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  text-align: center;
}

.tiempo-box_no-cumplio_2{
    flex: 1 1 150px;
  min-width: 150px;
 background: rgba(255, 0, 0, 0.253);
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  text-align: center;
}


.tiempo-box_no-cumplio_4{
    flex: 1 1 150px;
  min-width: 150px;
  background: rgba(255, 0, 0, 0.253);
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  text-align: center;
}


.boton-graficos {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.boton-graficos button {
  background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
  color: rgb(95, 95, 95);
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: bold;
  border: none;
  transition: 0.3s;
}

.boton-graficos button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}