.alert{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(110, 106, 106, 0.2);
    z-index: 5;
    padding: 100%;
    height: 100vh;
}
.min-alert{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@media (min-width:992px ){
    .min-alert{
        width: 400px;
    }
}