

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.table-container table {
  background: rgba(255, 255, 255, 0.285);
  border-radius: 10px;
}

.mat-paginator {
  font-size: 0.75rem;
  opacity: 0.8;
}
