<div class="modal fade" id="modaluser" data-bs-backdrop="static"  aria-hidden="true" aria-labelledby="modaluserLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modaluserLabel">Entrada de incidencia </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <app-form-users></app-form-users>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" data-bs-target="#modaluser" data-bs-toggle="modal">Nuevo usuario</button>