<!-- assembly-crud component -->
<app-assembly-crud *ngIf="crud"></app-assembly-crud>
<div>
    <div class="row justify-content-between mt-2">
        <!-- table controls-->
        <app-form-add-assembly class="col-sm-4 col"></app-form-add-assembly>
        <form class="col-sm-4 col d-flex mb-5 " role="search">
          <input 
            class="form-control me-2 " 
            type="search" 
            placeholder="Busca por Cliente" 
            aria-label="Search"
            name="filterTable"
            [(ngModel)]="filterTable"
            (ngModelChange)="page=0">
        </form>
        <nav  class="col-sm-4 col">
          <ul class="pagination justify-content-end">
            <li class="page-item me-4">
                <button class="btn btn-outline-primary" (click)="page=page-5" [disabled]="(page-5)<0">&laquo;</button>
            </li>
            <li class="page-item">
              <button 
                class="btn btn-outline-primary" 
                (click)="page=page+5" 
                [disabled]="(assemblies.length-(page+5)<=0)"
                >&raquo;</button>
            </li>
          </ul>
        </nav>
  </div>
  <!-- Assemblies table -->
  <div class="resTable">
    <table class="table table-bordered border-primary">
      <!-- table header -->
        <thead class="table-secondary">
            <tr>
                <th scope="col"><p class="mx-0 mb-2">Opciones</p></th>
                <th scope="col"><p class="mx-0 mb-2">Consecutivos</p></th>
                <th scope="col"><p class="mx-0 mb-2">Grafo</p></th>
                <th scope="col">Tipo de Ensamble</th>
                <th scope="col"><p class="mx-0 mb-2">Cantidad</p></th>
                <th scope="col"><p class="mx-0 mb-2">Estado</p></th>
                <th scope="col"><p class="mx-0 mb-2">Contato</p></th>
                <th scope="col"><p class="mx-0 mb-2">Cliente</p></th>
                <th scope="col"><p class="mx-0 mb-2">Remitente</p></th>
                <th scope="col">Fecha Estimada</th>
                <th scope="col"><p class="mx-0 mb-2">Recibido</p></th>
                <th scope="col"><p class="mx-0 mb-2">Tecnico</p></th>
            </tr>
        </thead>
        <!-- table body -->
        <tbody>
            <tr *ngFor="let assem of assemblies | assembly:filterTable:page"
              [ngClass]="{'table-info':assem.complianceDate && assem.realEndDate,
                'table-danger':!assem.complianceDate && assem.realEndDate,
                'table-success':assem.status==='inProcess'}">
                <td style="min-width: 50px;">
                  <button class="btn p-0 m-0" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../../../../../assets/img/3points.png" alt="..." height="25px">
                  </button>
                  <ul class="dropdown-menu p-0 m-0">
                      <li class="btn dropdown-item text-success" (click)="takeActions('view',assem)">Visualizar</li>
                      <li class="btn dropdown-item text-warning" (click)="takeActions('edit',assem)">Editar</li>
                      <li class="btn dropdown-item text-danger" (click)="takeActions('delete',assem)">Eliminar</li>
                  </ul>
                  <button class="btn btn-primary p-1 m-0" (click)="takeActions('process',assem)" *ngIf="!assem.realEndDate">
                    <img src="../../../../../assets/img/play.png" height="25px">
                  </button>
                </td>
                <td>{{assem.consecutive}}</td>
                <td>{{assem.graph}}</td>
                <td>{{assem.assemblyType}}</td>
                <td>{{assem.amount}}</td>
                <td>{{assem.status}}</td>
                <td>{{assem.contract}}</td>
                <td>{{assem.client}}</td>
                <td>{{assem.senderName}}</td>
                <td>{{assem.expectedOutDate}}</td>
                <td>{{assem.received}}</td>
                <td>{{assem.assemblyRes}}</td>
            </tr>
        </tbody>
      </table>
  </div>
</div>