<div class="center container d-flex justify-content-center align-items-center vh-60 h-100 w-100">
  <div class="card shadow-lg p-4" style="width: 100%; max-width: 400px; border-radius: 20px; border: none; background: #acb4b98e;">
    <div class="text-center mb-4">
      <h2 class="fw-bold" style="color: hsl(197, 52%, 51%);">
        <i class="bi bi-person-plus-fill me-2"></i>Registro
      </h2>
      <p class="text-muted">Crea tu cuenta para continuar</p>
    </div>

    <form (ngSubmit)="handleSubmit()">
      <!-- Email -->
      <div class="form-group mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-envelope-fill text-success"></i></span>
          <input type="email" id="email" name="email" required class="form-control"
            placeholder="correo@ejemplo.com" [(ngModel)]="email" />
        </div>
      </div>

      <!-- Contraseña -->
      <div class="form-group mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-lock-fill text-success"></i></span>
          <input type="password" id="password" name="password" required class="form-control"
            placeholder="*********" [(ngModel)]="password" />
        </div>
      </div>

      <!-- Confirmar contraseña -->
      <div class="form-group mb-4">
        <label for="confirmPassword" class="form-label">Confirmar contraseña</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-shield-lock-fill text-success"></i></span>
          <input type="password" id="confirmPassword" name="confirmPassword" required class="form-control"
            placeholder="*********" [(ngModel)]="confirmPassword" />
        </div>
      </div>

      <!-- Botones -->
      <div class="d-grid gap-2">
        <button type="submit" class="btn text-white" style="background-color: hsl(197, 52%, 51%)" [disabled]="isLoading">
          <i class="bi bi-person-check-fill me-1"></i> Registrarse
        </button>

        <div *ngIf="error" class="alert alert-warning mt-2 text-center">
          {{ error }}
        </div>

        <a routerLink="../login" class="btn btn-outline-primary mt-2">
          <i class="bi bi-arrow-left-circle-fill me-1"></i> Ya tengo una cuenta
        </a>
      </div>
    </form>
  </div>
</div>


